* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgb(78, 136, 86), rgb(40, 90, 165));
    height: 100vh;
}

h1 {
    margin: 15px;
    color: white;
    text-align: center;
}


.map {
    height: 80vh;
    width: 80vw;
    text-align: center;
}

.map p {
    padding: 2px;
}

.map audio {
    width:100%;
}


.footer {
    padding: 5px;
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer i {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor:pointer;

}

.footer i:hover {
    text-shadow: 1px 2px 1px #E94335;
    transition: 0.5s;
}

.footer a {
    color: white;
}